/* universal */

html {
    font-family: 'Ubuntu', sans-serif;    
}

h1 {
    font-size: 50px;
    margin: 10px 0;
}

h2 {
    font-size: 42px;
    margin: 10px 0;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;;
  }

nav {
    margin: 0 24px;
    height: 64px;
    line-height: 64px;
}

header img {
    height: 48px;
    width: auto;
}

header p {
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

nav a:hover {
    background-color: #E8E8E8;
    color: white;
}

nav .logo {
    float: left;
  }

nav .logo img, nav .logo p {
    display: inline-block;
    font-family: 32px;
}

nav .logo img {
    vertical-align: middle;
}

nav ul {
    float: right;
}

nav li {
padding-left: 16px;
display: inline-block;
}

#academy {
    color: gray;
}

/* banner section */

.banner {
    background-color: #E8E8E8;
    min-height: 500px;
}

.banner .container {
    display: inline-block;
}

.banner .img-container {
    width: 60%;
    padding: 32px 24px 32px 24px;
}

.banner .img-container img {
    max-width: 100%;
    max-height: 100%;
}

.banner .text-container {
    width: 35%;
    height: 100%;
    vertical-align: top;
    margin: 10% 5px 0 5px;
}

.banner .flex-container {
    display: block;
    width: 80%;
    
}


.banner h1 {
    font-weight: bold;
}

.banner p {
    font-size: 24px;
}



.banner button {
    background-color: #404040;
    color: white;
    padding: 15px 70px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}


#first-section {
    margin-top: 64px;
}

/* keep practicing section */

.keep-practicing {
    background-color: white;
}

.keep-practicing .container {
    display: inline-block;
}

.keep-practicing .img-container {
    width: 60%;
    padding: 32px 24px 32px 24px;
    border-right: solid 1px #E8E8E8;
}

.keep-practicing .img-container img {
    max-width: 100%;
    max-height: 100%;
}

.keep-practicing .text-container {
    width: 35%;
    vertical-align: top;
    margin-top: 32px;
}

.keep-practicing .flex-container {
    display: flex;
    flex-direction: column;
    
    
}

.keep-practicing .flex-item {
    width: 100%;
    margin-bottom: 16px;
    margin-left: 16px;
    padding-bottom: 16px;
    border-bottom: solid 1px #E8E8E8;
}

.keep-practicing .mini-img-container, .keep-practicing .mini-text-container {
    display: inline-block;
}

.keep-practicing .mini-img-container {
    width: 35%;

}

.keep-practicing .mini-img-container img {
    max-width: 100%;
    max-height: 100%;

}

.keep-practicing .mini-text-container {
    width: 60%;
    vertical-align: top;
    padding-left: 16px;
    padding-top: 24px;
    
}

.keep-practicing h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.keep-practicing p {
    font-size: 16px;
    margin-bottom: 10px;
}

.keep-practicing a {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.keep-practicing .img-container h2 {
    margin: 32px 0 24px 0;
}

#quote {
    line-height: 1.4rem;
}

#quote-citation {
    margin-top: 42px;
    margin-bottom: 32px;
}

/* start learning section */

.start-learning {
    background-color: #E8E8E8;
}

#start-learning-heading {
    font-size: 42px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
}

.start-learning .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 300px;
    margin: 32px 72px;
}

.start-learning .flex-item {
    height: auto;
    width: 450px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.start-learning .mini-img-container {
    height: auto;
}

.start-learning img {
    max-width: 100%;
    max-height: 100%;
}

.start-learning .mini-text-container {
    background-color: white;
    padding-left: 16px;
    padding-bottom: 24px;
    min-height: 120px;
}

.start-learning .mini-text-container h2 {
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 16px;
    font-size: 28px;
}

.start-learning .mini-text-container p {
    margin-bottom: 8px;
    color: #909090;
    line-height: 1.4rem;
}

/* thesis section */

.thesis {
    background-color: white;
}

.thesis .container {
    display: inline-block;
}

.thesis .vid-container {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.thesis .vid-container video {
    max-width: 100%;
    max-height: 100%;
}

.thesis .vid-container h2 {
    margin: 32px 0 24px 0;
}

.thesis .vid-container p {
    line-height: 1.4rem;
}

.thesis .text-container {
    width: 35%;
    vertical-align: top;
    margin-top: 32px;
}

.thesis .flex-container {
    display: flex;
    flex-direction: column;
}

.thesis .flex-item {
    width: 100%;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.thesis .mini-img-container, .thesis .mini-text-container {
    display: inline-block;
}

.thesis .mini-img-container {
    width: 35%;
}

.thesis .mini-img-container img {
    max-width: 100%;
    max-height: 100%;

}

.thesis .mini-text-container {
    width: 60%;
    vertical-align: top;
    padding-left: 16px;
    padding-top: 24px;
}

.thesis .mini-text-container h2 {
    font-size: 28px;
}

.thesis .mini-text-container p {
    font-size: 16px;
    color: #505050;
}



#item-1 {
    background-color: #E8E8E8;
}


/* footer section */

footer {
    border-top: 1px #E8E8E8 solid;
    color: gray;
    padding-top: 16px;
    padding-bottom: 64px;
}

footer p {
    float: left;
    margin-left: 24px;
}

footer ul {
    float: right;
    margin-right: 24px;
}

footer li {
    display: inline-block;
    padding-left: 16px;
}

footer a {
    text-decoration: none;
    color: gray;
}